<div class="container">
  <div class="row justify-content-center">
	<div class="text-center my-5">
		<h1><%= @event.title %></h1>
		<h6><%= @event.start_date.strftime("%d.%m.%Y") %> | <%= @event.location %> | <%= @event.price %> €</h6>
		<p><%= @event.description %></p>
		<hr>
		<div class="my-4">
			<h6>Nombre de participants : <%= @event.users.count %> </h6>
		</div>
		<div class="my-4">
		<p><%= link_to "Voir tous les événements", root_path %></p>
		</div>
	</div>
  </div>
</div>